<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar Advent</title>
    <link href="/css/test.css" rel="stylesheet">
</head>
<body>
<div class="flex-container">
    {% for ziua in zile %}
        <div class="zi-container">
            <img src="{{ url_for('static', filename=ziua.imagine) }}" class="zi-imagine"/>
            <div class="mesaj">{{ ziua.mesaj }}</div>
            <div class="button-container">
                <a href="/edit/{{ ziua.id }}"><button class="button-edit">Editeaza</button></a>
                <a href="/deschide/{{ ziua.id }}"><button class="button-deschide">Deschide</button></a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>